<!DOCTYPE html>
<html lang="en">

<head>

    <!--<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    &lt;!&ndash; Bootstrap Core CSS &ndash;&gt;
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    &lt;!&ndash; Custom CSS &ndash;&gt;
    <link href="../css/landing-page.css" rel="stylesheet">

    &lt;!&ndash; Custom Fonts &ndash;&gt;
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
       <!-- <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Westpac</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro2-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1></h1>
                        <h3></h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <!-- <hr class="section-heading-spacer">-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Home Ownership</h2>
                    <p class="lead">Wonder uses what we know about you as a customer, such as your income, the estimated value of any existing property you have, your assets and more. It then provides you with information, which can include how you could apply for a loan to purchase a new property, or how you could apply for an increase to your existing loan to finance other plans.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../img/offer9.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <!-- <hr class="section-heading-spacer">-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Credit Cards</h2>
                    <p class="lead">Westpac are here to help you find the right credit card. Whether you are after a low interest rate, rewards points or the flexibility of a low fee, compare our wide range of credit cards.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../img/offer3.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <!-- <hr class="section-heading-spacer">-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Reward Cards</h2>
                    <p class="lead">0.00% p.a. for 14 months on balance transfers requested at Altitude and Altitude Platinum card application. Variable cash advance rate applies after 14 months.0.00% p.a. for 14 months on balance transfers requested at Altitude and Altitude Platinum card application. Variable cash advance rate applies after 14 months.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../img/offer4.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <!-- <hr class="section-heading-spacer">-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Flexi Loan</h2>
                    <p class="lead">Flexi Loan is different to a traditional personal loan. It allows you to withdraw funds whenever you want (up to an agreed limit) without reapplying.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../img/offer11.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <!-- <hr class="section-heading-spacer">-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Starting a Bussiness </h2>
                    <p class="lead">Becoming your own boss is the chance to create a new working future. It’s the opportunity to take control of your working life, do something you feel passionate about and build new financial possibilities.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../img/offer10.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2></h2>
                </div>
                <div class="col-lg-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../vendor/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap.min.js"></script>

</body>

</html>
